figure.gallery-item {
  text-align: center;
  float: left;
  @media (min-width: 345px) {
    width: 50%;
  }
  @media (min-width: 520px) {
    width: 33.333333333333333333%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}