.sm-simple {
  a {
    font-family: $font-family-sans-serif;
    &:focus, &:hover, &:active {
      font-family: $font-family-sans-serif;
    }
  }
}

@media(min-width: $screen-sm-min) {
  ul#menu-main-menu {
    background: #2a1301;
    border: none;
    li {
      border: none;
      a {
        color: $dropdown-link-hover-bg;
        &:hover, &:active, &:focus, &.highlighted {
          background: $brand-primary;
          color: $dropdown-link-hover-bg;
        }
      }
      ul > li > a {
        &.highlighted {
          color: $dropdown-link-hover-bg;
        }
        color: $text-color;

      }
    }
  }
}
